# FIFA PLAYERS CLUSTERING

In [220]:
import os
import pandas
from sklearn.preprocessing import StandardScaler

In [221]:
csv_filename = 'players_22.csv'
my_athlete = 'neymar jr'
distance_threshold = 0.5

In [222]:
# import pandas
working_dir = os.getcwd()
root_folder = os.path.dirname(working_dir)
datasets_folder = os.path.join(root_folder, 'datasets')
brasileirao_folder = os.path.join(datasets_folder, 'fifa')
csv_path = os.path.join(brasileirao_folder, csv_filename)
csv_path

'c:\\Dropbox\\DS\\python\\infnet\\infnet-sports\\datasets\\fifa\\players_22.csv'

In [223]:
raw = pandas.read_csv(csv_path, sep=',', decimal='.', low_memory=False)

for column in raw.columns:
    print(column)

sofifa_id
player_url
short_name
long_name
player_positions
overall
potential
value_eur
wage_eur
age
dob
height_cm
weight_kg
club_team_id
club_name
league_name
league_level
club_position
club_jersey_number
club_loaned_from
club_joined
club_contract_valid_until
nationality_id
nationality_name
nation_team_id
nation_position
nation_jersey_number
preferred_foot
weak_foot
skill_moves
international_reputation
work_rate
body_type
real_face
release_clause_eur
player_tags
player_traits
pace
shooting
passing
dribbling
defending
physic
attacking_crossing
attacking_finishing
attacking_heading_accuracy
attacking_short_passing
attacking_volleys
skill_dribbling
skill_curve
skill_fk_accuracy
skill_long_passing
skill_ball_control
movement_acceleration
movement_sprint_speed
movement_agility
movement_reactions
movement_balance
power_shot_power
power_jumping
power_stamina
power_strength
power_long_shots
mentality_aggression
mentality_interceptions
mentality_positioning
mentality_vision
mentality_penalties
mentality_composure
defending_marking_awareness
defending_standing_tackle
defending_sliding_tackle
goalkeeping_diving
goalkeeping_handling
goalkeeping_kicking
goalkeeping_positioning
goalkeeping_reflexes
goalkeeping_speed
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb
gk
player_face_url
club_logo_url
club_flag_url
nation_logo_url
nation_flag_url

In [224]:
my_cols = ['short_name', 'nationality_name', 'club_name', 'player_positions', 'overall', 'potential', 'wage_eur', 'age', 'height_cm', 'weight_kg', 'preferred_foot', 'international_reputation']

df = raw[my_cols].copy()
df = df.rename(columns={'short_name': 'name', 'player_positions': 'position', 'wage_eur': 'wage', 'preferred_foot': 'foot', 'international_reputation': 'reputation'})
df['name'] = df['name'].str.lower() 
df['right_foot'] = df['foot'].apply(lambda x: 1 if x == 'Right' else 0)
df = df.dropna()
df.head(10)

,name,nationality_name,club_name,position,overall,potential,wage,age,height_cm,weight_kg,foot,reputation,right_foot
0,l. messi,Argentina,Paris Saint-Germain,"RW, ST, CF",93,93,320000.0,34,170,72,Left,5,0
1,r. lewandowski,Poland,FC Bayern München,ST,92,92,270000.0,32,185,81,Right,5,1
2,cristiano ronaldo,Portugal,Manchester United,"ST, LW",91,91,270000.0,36,187,83,Right,5,1
3,neymar jr,Brazil,Paris Saint-Germain,"LW, CAM",91,91,270000.0,29,175,68,Right,5,1
4,k. de bruyne,Belgium,Manchester City,"CM, CAM",91,91,350000.0,30,181,70,Right,4,1
5,j. oblak,Slovenia,Atlético de Madrid,GK,91,93,130000.0,28,188,87,Right,5,1
6,k. mbappé,France,Paris Saint-Germain,"ST, LW",91,95,230000.0,22,182,73,Right,4,1
7,m. neuer,Germany,FC Bayern München,GK,90,90,86000.0,35,193,93,Right,5,1
8,m. ter stegen,Germany,FC Barcelona,GK,90,92,250000.0,29,187,85,Right,4,1
9,h. kane,England,Tottenham Hotspur,ST,90,90,240000.0,27,188,89,Right,4,1

In [225]:
cluster_columns = ['age', 'height_cm', 'weight_kg']
df_cluster = df[cluster_columns].copy()

In [226]:
# Create an instance of StandardScaler
scaler = StandardScaler()

# Fit the scaler to your data
scaled_data = scaler.fit_transform(df_cluster)

In [227]:
from sklearn.cluster import AgglomerativeClustering

# Create an instance of AgglomerativeClustering
clustering = AgglomerativeClustering(distance_threshold=distance_threshold, n_clusters=None)

# Fit the clustering model to your scaled data
cluster_labels = clustering.fit_predict(scaled_data)

In [228]:
n_clusters = clustering.n_clusters_
print(f'Number of clusters found: {n_clusters} @ distance_threshold = {distance_threshold}')

Number of clusters found: 2276 @ distance_threshold = 0.5

In [229]:
df['cluster'] = cluster_labels

In [230]:
my_athletes_cluster = df[df['name'] == my_athlete]['cluster'].values[0]

df[df['cluster'] == my_athletes_cluster].sort_values(by='overall', ascending=False)

,name,nationality_name,club_name,position,overall,potential,wage,age,height_cm,weight_kg,foot,reputation,right_foot,cluster
3,neymar jr,Brazil,Paris Saint-Germain,"LW, CAM",91,91,270000.0,29,175,68,Right,5,1,516
16,s. mané,Senegal,Liverpool,LW,89,89,270000.0,29,175,69,Right,4,1,516
3576,flávio rebeilo,Brazil,Santos,LB,72,72,18000.0,29,175,69,Left,1,0,516
4288,carleto costinha,Brazil,Fluminense,"CAM, ST, RM",71,71,16000.0,29,175,69,Right,1,1,516
4751,j. paterson,England,Swansea City,"CAM, CM",70,70,17000.0,29,175,68,Right,1,1,516
6224,jorge félix,Spain,Demir Grup Sivasspor,"ST, LM, RM",69,69,10000.0,29,175,68,Right,1,1,516
6709,lee ki je,Korea Republic,Suwon Samsung Bluewings,"LM, LWB",68,68,3000.0,29,175,68,Left,1,0,516
6956,f. madrigal,Mexico,Club América,"CDM, CM",68,68,16000.0,29,175,68,Right,1,1,516
8868,j. arroé,Peru,Sport Huancayo,"LW, CAM, RW",66,66,500.0,29,175,69,Right,1,1,516
10722,maguinho,Brazil,Yokohama FC,"RB, RM",65,65,3000.0,29,175,68,Right,1,1,516
11237,m. mak,Poland,PGE FKS Stal Mielec,"RM, CF",64,64,1000.0,29,176,68,Right,1,1,516
11955,m. quiroga,Bolivia,Club Atlético Nacional Potosí,CM,64,64,500.0,29,175,68,Left,1,0,516
12066,g. thomson,England,Harrogate Town,"RM, CM",64,64,3000.0,29,175,69,Right,1,1,516
12130,t. tamukai,Japan,Tokushima Vortis,"LB, RB, CB",64,64,1000.0,29,175,69,Right,1,1,516
14460,f. al johani,Saudi Arabia,Al Tai,"ST, RM, CAM",61,61,4000.0,29,176,67,Right,1,1,516
15975,c. brown,England,Barrow,"RWB, LWB",59,59,2000.0,29,175,69,Right,1,1,516
18971,lalkhawpuimawia,India,NorthEast United FC,"ST, LM",51,51,500.0,29,175,68,Right,1,1,516